{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
               
                        <span class="h3"> Hey  {{username}}</span>
                        <hr>
                        <table class="table table-striped">
                                
                                        <thead>
                                                        <tr>
                                                          <th>Paitent info</th>
                                                          <th>Value</th>
                                                        </tr>
                                                      </thead>                        <tbody>

                                                        <tr>
                                                                <td>Name</td>
                                                                <td>{{ pt['username'] }}</td>
                                                                
                                                        </tr>

                                                        <tr>
                                                                <td>DOB</td>
                                                                <td>{{ pt['DOB'] }}</td>
                                                                
                                                        </tr>

                                                        <tr>
                                                                <td>AGE</td>
                                                                <td>{{ pt['Age'] }}</td>
                                                                
                                                        </tr>
                                                        <tr>
                                                                <td>allergies</td>
                                                                <td>{{ pt['allergies'] }}</td>
                                                                
                                                        </tr>
                                                        <tr>
                                                                <td>Blood Group</td>
                                                                <td>{{ pt['Blood Group'] }}</td>
                                                                
                                                        </tr>

                                                      </tbody>
                                                </table>
                      <h3>  Medicines Prescribed:</h3>
                        <table class="table table-striped">
                                
                        <thead>
                                        <tr>
                                          <th>Medicine Name</th>
                                          <th>Time to be taken</th>
                                          <th></th>
                                        </tr>
                                      </thead>                        <tbody>
            {% for med in meds %}
                          <tr>
                            <td>{{ med['name'] }}</td>
                            <td>{{ med['time'] }}</td>
                            <form method="get" action="/api/remove/{{ med['name'] }}">  
                        <td><button type='submit' class="btn btn-sm btn-danger" value="Submit">Remove Medicine</button></td>
                
                        </form>
                          </tr>  
            {% endfor %}
<tr>
        <form method="post" action="/api/update">
                <td><input type="input" name='name' placeholder="Medicine Name">
                <td><input type="input" name='time' placeholder="Time">           
        </td>
        <td><button type='submit' class="btn btn-sm btn-primary" value="Submit">  Add Medicine  </button></td>

        </form>
</tr>
        </tbody>

        </table>
                
                </div>
{% endblock %}