{% extends "base.html" %}


{% block body %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-4 col-md-offset-4"></div>
      <div class="col-md-4 col-md-offset-4">
                {% if t %}
                <div class="alert alert-info">
                  Transaction ID Valid. <br>
                  Cost: {{ t }}
                  Medicines: {{ m }}
                </div>
                {% elif e %}
                <div class="alert alert-warning">
                                Transaction invalid
                              </div>
                {% endif %}
                      <h3>  Verify Transaction Id :</h3>
                        <table class="table">
                                
                        <thead>
                                        <tr>
                                          <th>Transaction Id</th>
                                          <th></th>
                                        </tr>
                                      </thead>                        <tbody>

<tr>
        <form method="post" action="./block">
                <td><input type="input" name='tid' placeholder="Transaction ID">
         

        <td><button type='submit' class="btn btn-sm btn-primary" value="Submit">  Verify  </button></td>

        </form>
</tr>
        </tbody>

        </table>
      </div>         </div>
                </div>
{% endblock %}