{% extends "base.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.0.1/html5-qrcode.min.js" integrity="sha512-JXdlXFkKGAhP2yUubNT7hXNjEtPrAJz1Gs7oztdP47KhqL5ux88uof5FnIm2D0Ud/TdqiAe1mM1179kJDy/HKA==" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-4 col-md-offset-3"></div>
      <div class="col-md-4 col-md-offset-5">
                {% if t %}
                <div class="alert alert-info">
                  <h4 class="align-right"><b>Verified </b> </h4> <br>On Block with index #{{ bindex }} and hash:

                  <br>
                  {{ bhash }}
                  <br>
                 <b>Cost:</b>  {{ t['cost'] }}
                  <br>
                  <b>Medicines:</b>   {% for med in t['medicines'] %}  {{ med }}  {% endfor %}
                </div>
                {% elif e %}
                <div class="alert alert-warning">
                                Transaction invalid
                              </div>
                {% endif %}
                      <h3>  Verify Transaction Id :</h3>
                        <table class="table">
                                
                        <thead>
                                        <tr>
                                          <th>Transaction Id</th>
                                          <th></th>
                                        </tr>
                                      </thead>                        <tbody>

<tr>
        <form method="post" action="./block" id='txform'>
                <td><input type="input" name='tid' id='txid' placeholder="Transaction ID">
         

        <td><button type='submit' class="btn btn-sm btn-primary" value="Submit">  Verify  </button></td>

        </form>
        <div id="reader" width="600px"></div>

</tr>
        </tbody>

        </table>
      </div>         </div>
                </div>

                <script>
const html5QrCode = new Html5Qrcode("reader");
const qrCodeSuccessCallback = message => { 
  	console.log(`QR matched = ${message}`);
  document.querySelector('#txid').value = message
  document.querySelector('#txform').submit()}
const config = { fps: 10, qrbox: 250 };


// If you want to prefer back camera
html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

                </script>
{% endblock %}