{% extends "base.html" %}
{% block head %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    var socket = io.connect(location.protocol+'//' + document.domain + ':' + location.port + '/test');
    socket.on('cnct', function(data) {
        $('#status').append('Connected as '+data.msg);
        console.log('connected');
    });
    socket.on('newcnct', function(data) {
        $('#log').append('<li> ---- Connected as '+ data.msg + ' ----</li>');
    });
    $('form#emitform').submit(function(){
        console.log( 'sending' ,$('#emit').val());
        socket.emit('emit_msg', $('#emit').val());
        $('#emit').val("")
        return false
    })
    $('form#broadcastform').submit(function(){
        console.log( 'sending' ,$('#broadcast').val());
        socket.emit('broadcast_msg', $('#broadcast').val());
        $('#broadcast').val("")
        return false
    })
    socket.on('log_msg', function(data) {
        $('#log').append('<li>'+ data.msg + '</li>');
        console.log('Appended', data.msg)
    });
    socket.on('exit', function(data) {
        $('#log').append('<li> ---- '+ data.msg + ' disconnected ----</li>');
        console.log('Appended', data.msg)
    });
});
</script>
{% endblock %}


{% block body %}
        <style>
            .jumbotron { 
                background-color: rgb(244, 194, 30); /* Orange */
                color: #ffffff;
            }
            </style>
            
            <body>
                <div id="username" > </div>
              <div class="jumbotron text-center">
                <h1>Medi-Chat</h1> 
                <h2><a href="/vc">Join Video Call</a></h2>
                <p id="status">Status: </p> 
                <div class="row">
                        <div class="col-md-4 col-md-offset-4"></div>
                <div class="col-md-4 col-md-offset-4">
                  <form class="form-inline" id="broadcastform" autocomplete="off" >
                        <div class="input-group">
                          <input type="text" class="form-control" size="50" id="broadcast" placeholder="Send Message  ">
                          <div class="input-group-btn">
                            <button type="submit"  class="btn btn-danger">Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
              </div></div>

              <div class="h3">Messages:</div>
              <br>
              <ul class="list-unstyled" id="log">
                    
              </ul>
{% endblock %}
</html>