{% extends "base.html" %}

{% block head %}
<script src="http://www.chartjs.org/dist/2.7.2/Chart.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>
{% endblock %}

{% block body %}

<div class="row">
        <div class="col-md-4 col-md-offset-4"> 
                
                        <div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<!--                                                         <tbody>
                                                                <tr>
                                                                        <td>Name: </td>
                                                                        <td>Blood Group</td>
                                                                        <td>Date Of Birth</td>
                                                                        <td>Age</td>
                                                                        <td>Allergies</td>
                                                                        <td data-order="1000">€1.000,00</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>2</td>
                                                                        <td>Layout for poster</td>
                                                                        <td>2016/01/31</td>
                                                                        <td>Planned</td>
                                                                        <td data-order="1834">€1.834,00</td>
                                                                </tr>
                                                              
                                                        </tbody> -->
                                                </table>
        
        </div>
        <div class="col-md-4 col-md-offset-4"><div>
</div class="row">

<div>



</div>
{% endblock %}