<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediX</title>
    <link rel="stylesheet" href="src/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="owl/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="src/slick/slick.css">
  </head>
  <body>
    
    <div class="grid-y medium-grid-frame">
    <div class="cell medium-auto medium-cell-block-container">
      <div class="grid-x">
        <div class="cell shrink medium-cell-block-y">
          <div class="sidebar">
            <div class="sidebar-navigation-wrap">
              <div class="logo-container">
                <img src="src/icons/logo.png" alt="logo" class="logo">
                <span>MediX</span>
              </div>
              <div class="navigation-links-container">
                <a href="/">
                    <div class="nav-button">
                        <!-- /*svg will come*/ -->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="icon/action/alarm_24px">
                            <path id="icon/action/alarm_24px_2" fill-rule="evenodd" clip-rule="evenodd" d="M7.94458 3.44101L6.66333 1.90521L2.05603 5.74881L3.33716 7.28461L7.94458 3.44101ZM17.3365 1.90582L21.9438 5.74942L20.6627 7.28522L16.0553 3.44162L17.3365 1.90582ZM12.5 8.09482H11V14.0948L15.75 16.9448L16.5 15.7148L12.5 13.3448V8.09482ZM12 4.09482C7.03003 4.09482 3 8.12482 3 13.0948C3 18.0648 7.03003 22.0948 12 22.0948C16.97 22.0948 21 18.0648 21 13.0948C21 8.12482 16.97 4.09482 12 4.09482ZM5 13.0948C5 16.9548 8.14001 20.0948 12 20.0948C15.86 20.0948 19 16.9548 19 13.0948C19 9.23483 15.86 6.09482 12 6.09482C8.14001 6.09482 5 9.23483 5 13.0948Z" fill="#757575" />
                            </g>
                        </svg>
                        <span>Appointments</span>
                    </div>
                </a>

                <div class="nav-button">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="icon/action/date_range_24px">
                    <path id="icon/action/date_range_24px_2" fill-rule="evenodd" clip-rule="evenodd" d="M19 22C20.1 22 21 21.1 21 20V6C21 4.89999 20.1 4 19 4H18V2H16V4H8V2H6V4H5C3.89001 4 3.01001 4.89999 3.01001 6L3 20C3 21.1 3.89001 22 5 22H19ZM9 13V11H7V13H9ZM5 8H19V6H5V8ZM19 10V20H5V10H19ZM17 13V11H15V13H17ZM13 13H11V11H13V13Z" fill="#757575"/>
                    </g>
                  </svg>
                  <span>Calendar</span>
                </div>

                <div class="nav-button active">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="icon/social/people_outline_24px">
                    <path id="icon/social/people_outline_24px_2" fill-rule="evenodd" clip-rule="evenodd" d="M9 12C10.9301 12 12.5 10.43 12.5 8.5C12.5 6.57001 10.9301 5 9 5C7.06995 5 5.5 6.57001 5.5 8.5C5.5 10.43 7.06995 12 9 12ZM2 17.25C2 14.92 6.66003 13.75 9 13.75C11.34 13.75 16 14.92 16 17.25V19H2V17.25ZM9 15.75C7.20996 15.75 5.17993 16.42 4.33997 17H13.6599C12.8199 16.42 10.7899 15.75 9 15.75ZM10.5 8.5C10.5 7.66998 9.82996 7 9 7C8.17004 7 7.5 7.66998 7.5 8.5C7.5 9.33002 8.17004 10 9 10C9.82996 10 10.5 9.33002 10.5 8.5ZM16.04 13.81C17.2001 14.65 18 15.77 18 17.25V19H22V17.25C22 15.23 18.5 14.08 16.04 13.81ZM18.5 8.5C18.5 10.43 16.9301 12 15 12C14.46 12 13.96 11.87 13.5 11.65C14.13 10.76 14.5 9.66998 14.5 8.5C14.5 7.33002 14.13 6.23999 13.5 5.34998C13.96 5.13 14.46 5 15 5C16.9301 5 18.5 6.57001 18.5 8.5Z" fill="#757575"/>
                    </g>
                  </svg>
                  <span>Patients</span>
                </div>


                <a href="verify">
                  <div class="nav-button">
                   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="icon/navigation/check_24px">
                  <path id="icon/navigation/check_24px_2" d="M8.79496 15.875L4.62496 11.705L3.20496 13.115L8.79496 18.705L20.795 6.70501L19.385 5.29501L8.79496 15.875Z" fill="black" fill-opacity="0.54"/>
                  </g>
                  </svg>
                  <span>Verify</span>
                  </div>
                </a>

                  </div>
              </div>

            <div class="dark-mode-toggle">
              <div class="switch">
                <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle" for="yes-no">
                  <span class="switch-active icon" aria-hidden="true">
                        <svg class="moon" width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 13.0635C9.4704 13.6591 8.27501 14 7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C8.27501 0 9.4704 0.34088 10.5 0.936476C8.4077 2.14681 7 4.40901 7 7C7 9.59099 8.4077 11.8532 10.5 13.0635Z" fill="#312E3F"/>
                        </svg>
                  </span>
                  <span class="switch-inactive icon" aria-hidden="true">
                    <svg class="sun" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                    <rect x="6" width="2" height="14" fill="white"/>
                    <rect y="6" width="14" height="2" fill="white"/>
                    <rect x="11.2427" y="1.34314" width="2" height="14" transform="rotate(45 11.2427 1.34314)" fill="white"/>
                    <rect x="2.75732" y="1.34314" width="14" height="2" transform="rotate(45 2.75732 1.34314)" fill="white"/>
                    </svg>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="cell-medium-auto medium-cell-block-y">
          <div class="dynamic-content-wrap">
            <div id="top-bar">
              <div class="alert-wrap">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="icon/outlined/alert/add_24px">
                  <path id="icon/outlined/alert/add_24px_2" fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C11.17 1.25 10.5 1.92001 10.5 2.75V3.92001C7.35999 4.60001 5 7.39999 5 10.75V16.75L3 18.75V19.75H21V18.75L19 16.75V10.75C19 7.39999 16.64 4.60001 13.5 3.92001V2.75C13.5 1.92001 12.83 1.25 12 1.25ZM17 10.75C17 7.98999 14.76 5.75 12 5.75C9.23999 5.75 7 7.98999 7 10.75V17.75H17V10.75ZM12 22.75C10.9 22.75 10.01 21.86 10.01 20.76H13.99C13.99 21.86 13.1 22.75 12 22.75ZM11 7.75H13V10.75H16V12.75H13V15.75H11V12.75H8V10.75H11V7.75Z" fill="#757575"/>
                  </g>
                </svg>
              </div>
              <div class="profile-details-wrap">
                  <div class="avatar"></div>
                  <div class="name">Darsh Patel</div>

              </div>
            </div>

            <div class="main-content-wrapper">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x" data-equalizer>
                        <div class="cell large-4">
                            <div class="patient-details box-card" data-equalizer-watch>
                                <h4>Patient Details</h4>
                               
                                <div class="name"><span class="new-label">Name:</span> <span>{{ pt['username'] }}</span></div>
                                <div class="name"><span class="new-label">Age:</span> <span>{{ pt['Age'] }}</span></div>
                                <div class="name"><span class="new-label">Sex:</span> <span>Male</span></div>
                                <div class="name"><span class="new-label">Blood Type:</span> <span>{{ pt['Blood Group'] }}</span></div>
                                <div class="name"><span class="new-label">Allergies:</span> <span>{{ pt['allergies'] }}</span></div>

                                <!-- <div class="button-wrap">
                                    <div class="button-blue">View Medical History</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="cell large-8">
                            <div class="heart-rate-monitor blood-pressure-monitor box-card" data-equalizer-watch>
                                <div class="heart-rate">84<br><span class="caption">Avg. Heart Rate this hour</span></div>

                                <canvas id="myCanvas"> Your browser does not support the canvas element.</canvas>

                                <div class="message">Normal heart-rate for adults<br>60 - 100</div>
                            </div>
                        </div>

                        <div class="cell large-4">
                            <div class="symptom-box box-card" data-equalizer-watch="">
                                <h4> Recent Symptoms show by patient</h4>
                                <div class="name">Back pain</div>
                                <div class="name">Rashes on the body</div>
                                <div class="name">Vomitting</div>
                                <div class="name">High Fever</div>
                                <!-- <div class="name">Headache</div> -->
                                

                                <div class="button-wrap">
                                </div>
                            </div>
                        </div>

                        <div class="cell large-8">
                            <div class="heart-rate-monitor" data-equalizer-watch>
                                <div class="blood-pressure">160/80<br><span class="caption">Avg. blood pressure this hour</span></div>

                                <canvas id="bpCanvas">Your browser does not support the canvas element.</canvas>
                                <div class="message">Normal blood pressure is<br>180/80</div>
                            </div>
                        </div>

                        <div class="cell large-12">
                            <div class="box-card medical-history" id="medical-history">
                                <h4>Previous prescriptions</h4>
                                {% for v in visit %}
                                <div class="perk-bar for-medical-history">
                                  <div class="date column">{{ v['date'] }}</div>
                                  <div class="reason column">{{ v['reason'] }}</div>
                                  <div class="prescription column">{% for md in v['medicines'] %} {{ md }} &NonBreakingSpace;
                                    {% endfor %}</div>
                                  <div class="desc column">{{ v['description'] }}</div>
                                  <div class="t-id column">{{ v['txn'] }}</div>
                                </div>

                              {% endfor %}
            

                              <!-- <form method="post" action="/api/update">
                                <td><input type="input" name='name' placeholder="Medicine Name">
                                <td><input type="input" name='time' placeholder="Time">           
                        </td>
                        <td><button type='submit' class="btn btn-sm btn-primary" value="Submit">  Add Medicine  </button></td>
                
                        </form> -->
                                <h4 style="margin-top:50px;">Prescribe new medicines to the patient</h4>
                                <form action="/api/updatevisit" method="post">
                                  <div class="grid-x grid-margin-x">
                                      <div class="cell large-2">
                                          <input type="text" name="date" placeholder="date">
                                      </div>
                                      <div class="cell large-2">
                                          <input type="text" name="reason" placeholder="condition">
                                      </div>
                                      <div class="cell large-2">
                                          <input type="text" name="medicines" placeholder="medication">
                                      </div>
                                      <div class="cell large-2">
                                          <input type="text" name="description" placeholder="description">
                                      </div>
                                      <div class="cell large-1">
                                          <input type="text" name="cost" placeholder="cost">
                                      </div>
                                      <div class="cell large-1">
                                          <input type="text" name="txn" placeholder="TID">
                                      </div>
                                      <div class="cell large-2">
                                     <button type="submit">     <div class="button-blue">Add medicine</div></button>
                                      </div>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script src="src/node_modules/jquery/dist/jquery.js"></script>
    <script src="src/node_modules/what-input/dist/what-input.js"></script>
    <script src="src/node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="src/js/app.js"></script>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.moveTo(0,64);
        ctx.lineTo(120,100);
        ctx.lineTo(240,44);
        ctx.stroke();
    </script>
 </body>
</html>
